<!doctype html>
<html>
    <head>
        <meta content="text/html; charset=utf8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>课栈联盟</title>
        <meta content="课栈网" name="Keywords">
        <meta name="description" content="课栈网" />
        <link rel="stylesheet" type="text/css" href="/static/clubadmin/css/style.css">
        <% if(data.link) { 
            var links = data.link.split(',');
            for(var i in links) { 
        %>
        <link rel="stylesheet" type="text/css" href="<%= links[i] %>">
        <%  }} %>
    </head>
    <body>
        <%= html %>
    </body>
</html>