<!doctype html>
<html>
    <head>
        <meta content="text/html; charset=utf8" http-equiv="Content-Type">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>课栈联盟</title>
        <meta content="课栈网" name="Keywords">
        <meta name="description" content="课栈网" />
        <link rel="stylesheet" type="text/css" href="/static/clubadmin/css/style.css">
        <% if(data.link) { 
            var links = data.link.split(',');
            for(var i in links) { 
        %>
        <link rel="stylesheet" type="text/css" href="<%= links[i] %>">
        <%  }} %>
    </head>
    <body>
        <div class="p_main_box <%= data.pageclass %>">
            <!-- 头部 begin -->
            <div class="p_head">
                 <div class="head_version">
                    <img src="/static/clubadmin/images/head_title.png">
                    <p>
                        本系统由北京弟傲思信息时代有限公司提供服务
                    </p>
                    <div class="tell">
                        <b class="icon icon_tell"></b>
                        <span>
                            400-002-9691
                        </span>
                    </div>
                 </div>
                 <!-- 头部导航 begin -->
                 <div class="head_nav">
                    <div class="nick_name">
                        欢迎您，粉色的猪
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <b class="icon icon_home"></b>
                                <em>我的首页</em>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="active">
                                <b class="icon icon_lock"></b>
                                <em>修改密码</em>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <b class="icon icon_power"></b>
                                <em>退出</em>
                            </a>
                        </li>
                    </ul>
                 </div>
                 <!-- 头部导航 end -->
                 <div class="head_slogon">
                    <img src="/static/clubadmin/images/login_slogon.png">
                 </div>
            </div>
            <!-- 头部 end -->
            <!-- 左侧tab begin -->
            <div class="w_xt_left">
                <h2 class="header">我的系统</h2>
                <ul class="redmenu">
                     <li>
                        <a href="javascript:void(0);" class="first">系统首页<i></i></a>
                        <ul class="second" style="display: block;">
                            <li class=""> <a href="#" class="">数据统计</a></li>
                         
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:void(0);" class="first active">用户管理<i></i></a>
                        <ul class="second" style="display: block;">
                            <li class=""> <a href="#" class="">基础信息</a></li>
                            <li class=""> <a href="#" class="">审核记录</a></li>
                        </ul>
                    </li>
                     <li>
                        <a href="javascript:void(0);" class="first">系统管理<i></i></a>
                        <ul class="second bg_none" style="display: block;">
                            <li class=""> <a href="#" class="on">系统用户</a></li>
                         
                        </ul>
                    </li>
                   
                </ul>
            </div>
            <!-- 左侧tab end -->
            <%= html %>
        </div>
        <!-- footer begin -->
        <div class="p_footer"></div>
        <!-- footer end -->
    </body>
</html>