// =====浮层input=====//
.w_cover {
	position: absolute;
	top: 0;
	left: 0;
	.w_cover_mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		.opacity(0.6);
	}
	.co_ly_err {
		.box_shadow(0px 0px 10px #999);
		// .transition(all 300ms ease);
		background: white;
		border: 1px solid #dddddd;
		padding: 30px;
		min-width: 220px;
	    max-width: 400px;
	    border-radius: 8px;
		.co_ly_btn {
			height: 24px;
			line-height: 24px;
			border: 1px solid #999999;
			border-radius: 3px;
			width: 140px;
			text-align: center;
			font-size: 14px;
			.display_inline_block();
		}
		.co_ly_ctx {
			margin-bottom: 20px;
			padding: 10px 0;
			font-size: 16px;
			line-height: 36px;
			&>i{
				font-size: 36px;
    			float: left;
    			color: @main_green;
    			margin-right: 10px;
    			&.fa-times-circle{
    				color: #f20;
    			}
			}
		}
	}
}

// =====表单input=====//
.w_input_box{
	position: relative;
	margin-bottom: 15px;
	.w_input_label{
		position: relative;
		display: block;
		.icon_box{
			position: absolute;
		    height: 29px;
		    width: 38px;
		    top: 0;
		    left: 0;
		    background: #e4e4e4;
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		    text-align: center;
		    padding-top: 9px;
		}
		input{
			outline: none;
		    width: 307px;
		    background: #fff;
		    border-radius: 3px;
		    height: 38px;
		    border: 0;
		    padding-left: 48px;
		    line-height: 38px;
		    .box_shadow(0 3px 5px 0px rgba(10, 2, 4, 0.3));
		    &:focus{
				+.border{
					display: block;
				}
			}
		}
		.border{
			display: none;
			border: 3px solid #4eb249;
		    position: absolute;
		    z-index: 0;
		    width: 100%;
		    height: 100%;
		    top: -3px;
		    left: -3px;
		    border-radius: 6px;
		    .box_shadow(0 3px 5px 0px rgba(10, 2, 4, 0.3));
		}
	}
	.wrong{
		position: absolute;
	    font-size: 14px;
	    white-space: nowrap;
	    border-radius: 20px;
	    height: 28px;
	    color: #fff;
	    background: #000;
	    background: rgba(0, 0, 0, 0.3);
	    left: 372px;
	    padding: 0 15px;
	    line-height: 28px;
	    top: 5px;
	    .box_shadow(0 0px 4px 2px rgba(255, 255, 255, 0.2));
	}
}
// ===== tab ====//
.w_tab{
	width: 100%;
	.tab_head{
		height: 32px;
		line-height: 32px;
		border-bottom: 1px solid #babcc2;
		a{
			height: 100%;
		    width: 50%;
		    float: left;
		    text-align: center;
		    font-size: 14px;
		    color: #fff;
		    opacity: 0.5;
			&.active{
				opacity: 1;
				border-bottom: 2px solid #fff;
    			margin-top: -1px;
			}
		}
	}
	.tab_body{
		.tab_block{
			display: none;
			&.active{
				display: block;
			}
		}
	}
}
//页码
.w_navigation_n {
    text-align: center;
    line-height: 24px;
    position: relative;
    float: right;
    top: 17px;
    a {
        box-sizing:border-box;
        border: 1px solid #a5a5a5;
        border-radius: 3px;
        width: 26px;
        height: 24px;
        font-size: 12px;
        line-height: 22px;
        color: #999999;
        background: white;  
        .display_inline_block();
        &:hover {
            background: #eee;
            color: #484f55;
        }
    }
    ul {
        .display_inline_block();
        vertical-align: top;
        li {
            float: left;
            font-size: 12px;
            padding: 0px 6px;
        }
        .active {
            a {
                color: #fff;    
                background: @a_hover_color;
                border:1px solid @a_hover_color;
                /*&:hover {
                    background: none;
                }*/

            }
        }
    }
    .sure{
        box-shadow: none;
        padding: 0;
        font-size: 12px;
        height: 24px;
        width: 40px;
        line-height: 22px;
        margin-left: 10px;
    }
    .num {
        box-sizing:border-box;
        font-size: 12px;
        line-height: 22px;
        .display_inline_block();
        width: 26px;
        height: 24px;
        border: 1px solid #a5a5a5;
        border-radius: 3px;
        -webkit-appearance: none;
        outline: none;
        text-align: center;
        margin: 0 5px;
    }
}
// ===========================左侧tab==========================


.w_xt_left{
	width:18%;
	float:left;
	.header{
		text-align:center;
		margin: 20px auto 15px;
		color: @a_hover_color;
	}
	.redmenu{
		background: rgba(168, 171, 175, 0.2) ;
		width:80%;
		text-align: center;
		text-align: center;
	    float: right;
	    border-radius: 5px;
	    border-bottom-right-radius: 0;
	    border-top-right-radius: 0;
	    li{
	    	a{

		    	&.first{
					font-size: 18px;
					color: #fff;
					height: 50px;
					display: block;
	   				line-height: 50px;
	   				border-bottom: 1px solid #636363;
	   				margin: 0 10px;
	   				&:hover,&.on{
	   					color:@a_hover_color;
	   				}
	   				i.triangle{
					display: inline-block;
					border-top:5px solid #ccc;
					border-left:5px solid transparent;
					border-right:5px solid  transparent;
					border-bottom:5px solid  transparent;
					vertical-align: middle;
	    			margin-left: 5px;
			    			
					}
				
				}
				&.active{
	    	 		color: @a_hover_color;
	    	 		i.triangle{
						display: inline-block;
						border-bottom:5px solid @a_hover_color;
						border-left:5px solid transparent;
						border-right:5px solid  transparent;
						border-top:5px solid  transparent;
						margin-top: -10px;
	    	 		}
	    	 		&+ ul.second{
	    	 			display: block;
	    	 		}
	    	 	}
			}
	    }
		.second{
			display: none;
			border-bottom: 1px solid #636363;
			margin: 0 10px;
			li{
				margin-left: 20px;
				height: 40px;
				line-height: 40px;
				a{
					font-size: 16px;
					color: #fff;
					&:hover,&.on{
						color:@a_hover_color;
					}
				}
			}
			&.bg_none{
				border-bottom: none;
			}
		}   
		
		
	}
	
}
	
	



// ===========================右侧内容==========================
.w_comment{
	width:79%;
	min-height: 350px;
	background-color: #fff;
	padding:0 12px 30px 12px;

	float: left;
	overflow: hidden;
	border-radius: 0 5px 5px 0; 
	.comment_title{
		width: 100%;
        border-bottom:1px solid #999999; 
        padding: 5px 0;
        span{
        	font-size: 18px;
        	color: #323232;

        }
        .create{
        	display: inline-block;
        	float: right;
        	padding: 3px 5px;
    		margin-top: -7px;
        }
        b{
        	margin-top: 3px;
    		float: left;
        }
	}
	.intro{
		font-size: 14px;
		color: #333333;
		margin-bottom: 14px;
	}
	.form{
		/* width: 492px; */
		.input_list{
			padding-top: 3px;
			.input{
				margin-top: 17px;
				label{
			    	width:100px;
				    display: inline-block;
				    text-align: right;
				    font-size: 16px;
	    			color: #323232;
	    			vertical-align: middle;
	    			&.ta_left{
	    				text-align: left;
	    			}
		    	}
		    	input{
					padding-left: 6px;
		    		&[type=text],&[type=password],&[type=select]{
		    			width: 450px;
						height: 38px;
						.pre(appearance,none);
						outline: none;
						border:1px solid  #dcdcdc;
						border-radius: 2px;
						&:focus{
							.pre(appearance,none);
							outline: none;
							border:1px solid  @a_hover_color;
						}
		    		}
		    	}
				select{
					margin-top: 17px;
					height: 38px;
					outline: none;
					border:1px solid  #dcdcdc;
					border-radius: 2px;
					padding-left: 6px;
					width: 460px;
					&:focus{
						outline: none;
						border:1px solid  @a_hover_color;
					}
				}
				textarea{
					width: 450px;
					margin-top: 17px;
					height: 138px;
					vertical-align: middle;
					outline: none;
					border:1px solid  #dcdcdc;
					border-radius: 2px;
					padding-left: 6px;
					&:focus{
						.pre(appearance,none);
						outline: none;
						border:1px solid  @a_hover_color;
					}
				}
				button{
					box-shadow: none;
					width:100px;
					margin-left: 15px;
				}
				.erro{
					height: 30px;
					line-height: 30px;
					color: #454645;
					background-color:#f1f0ee;
					border-radius:15px;
					padding:8px;
					margin-left: 20px;
					em{
						font-style: normal;
						display: inline-block;
						width: 7px;
					    height: 32px;
					    vertical-align: bottom;
						/* float: left; */
						/* margin-top: 10px; */
						/* margin-left: 10px; */
					} 
				}
			}
		}
		.textarea{
			
            textarea{
            	width:440px;
				height: 100px;
				padding: 13px;
            }
            .intro_box{
            	width: 261px;
            	height: 110px;
            	background-color: #f9f9f9;
            	border:1px solid #dcdcdc;
            	float: right;
            	padding-left: 15px;
            	padding-top: 16px;
            	position: relative;
            	/* background: url('../images/explam.png') right top no-repeat; */
            	.title_g{
            		color: @a_hover_color;
            		font-size: 14px;
            		margin-bottom: 10px;
            	}
            	ul{
            		li{
            			color: #333;
            			font-size: 14px;
            			.circle{
            				background-color: #999;
            				display: inline-block;
            				width:6px;
            				height: 6px;
            				border-radius: 3px;
            				margin-right: 10px;
            				margin-top: -2px;
    						vertical-align: middle;
            			}
            		}
            	}
            	img{
            		position: absolute;
				    right: 0;
				    top: 0;
            	}
            }
		}
		.form_btns{
			float: right;
			margin-top: 32px;
			margin-bottom: 100px;
			margin-right: 264px;
			&.mr290{
				margin-right: 290px;
			}
			&.mr468{
				margin-right: 468px;
			}
			&.mb0{
				margin-bottom: 0px;
			}
			&.mb30{
				margin-bottom: 30px;
			}
			.btn_w{
				width: 123px;
				height: 42px;
				float: left;
				.e_btn{
					box-shadow:none;
				}
				&.btn_bw{
					width: 142px;
					height: 40px;
				}
			}

		}
	}
	.get_code{
		clear: both;
		width: 760px;
        border-top:1px solid #dcdcdc; 
        &.vis_hidden{
        	visibility: hidden;
        }
        h1{
        	font-size: 14px;
        	color: #333;

        }
        .channel_code{
        	background: #f2f2f2;
        	font-size: 16px;
        	padding: 13px;
        	display: inline-block;
        	color: #333;
        	em,i{
        		font-style: normal;
        	}
        }
        .textarea_code{
        	textarea{
              width:732px;
              height: 72px;
              margin-top: 15px;
              font-size: 14px;
              padding: 13px;
        	}
        }
	}
	.tabs{
		width:800px;
		margin-top: 10px;
		.w_tab{
			.tab_head{
				border-bottom: 1px solid #ccc;
				a{
					color: #ccc;
					&.active{
						border-bottom: 2px solid @a_hover_color;
						color: @a_hover_color;
					}
				}
			}

		}
	}
	
}
// ===== 表格 =====
.w_table{
	float: left;
	width: 100%;
	background: #fff;
	z-index: 2;
	border-radius: 0 4px 4px 0;
	h3{
		height: 50px;
		font-size: 18px;
		line-height: 50px;
		border-bottom: 1px solid #ddd;
		i{
			margin-bottom: -6px;
			margin-right: 10px;
		}
	}
	form{
		height: 74px;
		span{
			height: 74px;
			line-height: 74px;
			font-size: 13px;
		}
		input{
			height: 34px;
			line-height: 34px;
			width: 122px;
			margin:0 10px;
			padding-left: 7px;
			border-radius: 4px;
            box-sizing:border-box;
			border:1px solid #ccc;
			&.name{
				width:228px;
			}
			&:focus{
				outline: none;
			    border:1px solid @a_hover_color;
			}
		}
		select{
			height: 34px;
		    border-radius: 4px;
		    box-sizing: border-box;
		    border: 1px solid #ccc;
		    vertical-align: middle;
		    margin-top: -1px;
		    margin-top: -4px@hack;
		    padding: 5px@hack;
		    color: #A2A1A1;
		    &:focus{
				outline: none;
			    border:1px solid @a_hover_color;
			}

		}
		button{
			width: 80px;
            box-sizing:border-box;
            height: 34px;
            padding: 0;
			box-shadow: none;
		}
	}
	.statistics{
		height: 54px;
		border: 1px solid #ccc;
		padding: 28px 0;
		background: #f9f9f9;
		.modular{
			float: left;
			width: 252px;
			height: 54px;
			font-size: 14px;
			border-left: 1px solid #ccc;
			&:first-child{
				border: 0px solid #fff;
			}
			li{
				text-align: center;
				span{
					font-size: 24px;
                    padding-right: 10px;
					color: #ff6432;
				}
			}
		}
	}
	table.c_ta{
		font-size:14px;
		color:#333;
		width: 100%;
		border-collapse: collapse;
		//border: 1px solid #ccc ;
		margin-top: 22px;
		text-align: center;
		tr{
			&:hover{
				td{
					background:#eee;
				}
			}
			&.sel{
				td{
					background:#eee;
				}
			}
			th{
				padding: 10px;
				border: 1px solid #ccc ;
				background-color: #f4f8f7;
			}
			td{
				padding: 10px;
				border: 1px solid #ccc ;
				background-color: #ffffff;
				a{
					padding-left: 7px;
				    border-left: 1px solid #ccc;
				    padding-right: 7px;
					&:first-child{
						border-left: 0;
					}
				}
			}
		}
	}
}
// ===== 分类模块 =====
.w_model_class{
	margin-top: 20px;
	.w_btn{

		margin: 20px 200px 0;
		.mod_btn{
			width: 123px;
			margin-right: 10px;
		}
		.mod_bt{
			width: 123px;
			margin-left: 275px;
		}
	}
	.input_list{
		margin-left: 10px;
		.title{
			font-size: 18px;
    		color: #323232;
		}
		.list{
			overflow: hidden;
			margin: 10px 20px;
			dl{
				float: left;
				margin-right: 30px;
				dt{
					margin: 10px 0;
					font-size: 16px;
					label{
						input{
							vertical-align: middle;
    						margin-top: -1px;
						}
					}
				}
				dd{
					margin-left: 10px;
					font-size: 14px;
					label{
						display: block;
						input{
							vertical-align: middle;
    						margin-top: -1px;
						}
					}
				}
			}
		}
	}
}